# week_1(0902)

In [1]:
import turtle
t = turtle.Pen()
 
t.right(72)
t.forward(100)
t.left(72)
t.forward(100)
t.right(180-36)
t.forward(100)
t.left(180-108)
t.forward(100)
t.right(180-36)
t.forward(100)
t.left(72)
t.forward(100)
t.right(180-36)
t.forward(100)
t.left(72)
t.forward(100)
t.right(180-36)
t.forward(100)
t.left(72)
t.forward(100)

# week_2(0907)

# 수업

In [2]:
print('I love you')

I love you

In [3]:
for i in range(10):
    print('I love you')

I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you

In [23]:
for i in range(10):
    print('사랑해')

사랑해
사랑해
사랑해
사랑해
사랑해
사랑해
사랑해
사랑해
사랑해
사랑해

In [1]:
for i in range(10):
    print('사랑해')
print('그만해')

사랑해
사랑해
사랑해
사랑해
사랑해
사랑해
사랑해
사랑해
사랑해
사랑해
그만해

In [24]:
for i in range(10):
    print(i)
    print('사랑해')
print('그만해')

0
사랑해
1
사랑해
2
사랑해
3
사랑해
4
사랑해
5
사랑해
6
사랑해
7
사랑해
8
사랑해
9
사랑해
그만해

In [25]:
for i in range(10):
    print('사랑해')

사랑해
사랑해
사랑해
사랑해
사랑해
사랑해
사랑해
사랑해
사랑해
사랑해

In [26]:
money = 500

In [27]:
money

500

In [28]:
money = 600

In [29]:
money

600

In [30]:
money = money + 100

In [31]:
money

700

In [32]:
money = 0
for i in range(24):
    money = money + 150
print(money)

3600

In [33]:
money = 0
for i in range(24):
    money = money + 150
    money = money * 1.1
print(money)

14602.058915082582

In [34]:
money = 0
while money < 60000:
    money = money + 150
    money = money * 1.1
print(money)

60067.16668387647

In [35]:
money = 0
month = 0
while money < 60000:
    month = month + 1
    money = money + 150
    money = money * 1.1
    print(month, money)
print(money)

1 165.0
2 346.5
3 546.1500000000001
4 765.7650000000002
5 1007.3415000000003
6 1273.0756500000007
7 1565.383215000001
8 1886.9215365000011
9 2240.6136901500013
10 2629.6750591650016
11 3057.642565081502
12 3528.4068215896527
13 4046.2475037486183
14 4615.87225412348
15 5242.459479535829
16 5931.705427489413
17 6689.875970238354
18 7523.86356726219
19 8441.249923988411
20 9450.374916387253
21 10560.412408025979
22 11781.453648828578
23 13124.599013711437
24 14602.058915082582
25 16227.264806590842
26 18014.991287249926
27 19981.49041597492
28 22144.639457572415
29 24524.10340332966
30 27141.51374366263
31 30020.665118028894
32 33187.73162983179
33 36671.50479281497
34 40503.655272096476
35 44719.02079930613
36 49355.92287923674
37 54456.515167160425
38 60067.16668387647
60067.16668387647

In [38]:
for i in range(1, 20):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [39]:
for i in range(1, 20):
    if i % 3 == 0:
        print('짝')
    else:
        print(i)

1
2
짝
4
5
짝
7
8
짝
10
11
짝
13
14
짝
16
17
짝
19

In [41]:
for i in range(1, 20):
    if i % 3 == 0:
        print('짝')
    elif i % 5 == 0:
        print('아자')
    else:
        print(i)

1
2
짝
4
아자
짝
7
8
짝
아자
11
짝
13
14
짝
16
17
짝
19

# 실습

3의 배수 "짝" / 5의 배수 "아자" / 15의 배수 "으악"

In [45]:
for i in range(1, 50):
    if (i % 3 == 0 and i % 5==0):
        print('으악')
    elif i % 3 == 0:
        print('짝')
    elif i % 5 == 0:
        print('아자')
    else:
        print(i)

1
2
짝
4
아자
짝
7
8
짝
아자
11
짝
13
14
으악
16
17
짝
19
아자
짝
22
23
짝
아자
26
짝
28
29
으악
31
32
짝
34
아자
짝
37
38
짝
아자
41
짝
43
44
으악
46
47
짝
49

In [1]:
for i in range(1, 50):
    if i % 15 == 0:
        print('으악')
    elif i % 3 == 0:
        print('짝')
    elif i % 5 == 0:
        print('아자')
    else:
        print(i)

1
2
짝
4
아자
짝
7
8
짝
아자
11
짝
13
14
으악
16
17
짝
19
아자
짝
22
23
짝
아자
26
짝
28
29
으악
31
32
짝
34
아자
짝
37
38
짝
아자
41
짝
43
44
으악
46
47
짝
49

성남 > 분당

# 재밌는 실습

In [ ]:
money = 0
money = 0
while money < 60000:
    month = month + 1

잘못된 수식!

# 터틀 그래픽스

In [4]:
import turtle

In [5]:
turtle.forward(100)

In [6]:
turtle.reset()

# 변수

In [7]:
length = 200

In [8]:
turtle.forward(length)
turtle.left(90)
turtle.forward(length)
turtle.left(90)
turtle.forward(length)
turtle.left(90)
turtle.forward(length)
turtle.left(90)

In [7]:
turtle.reset()

# for 반복문

In [9]:
for i in range(4):
    turtle.forward(length)
    turtle.left(90)
    print()

# 함수

In [ ]:
def polygon(n, length):
    angle = 180 - ((180 * (n - 2)) / n)
    turtle.reset()
    for i in range(n):
        turtle.forward(length)
        turtle.left(angle)

In [ ]:
polygon(10, 9)

In [ ]:
polygon(7, 50)

In [ ]:
angle = 180 - ((180 * (n - 2)) / n)

In [ ]:
angle

In [ ]:
turtle.bye()

# 이자 계산

In [ ]:
money = 0
for month in range(12):
    money = money * 1.1
    money = money + 100
    print(month + 1, money)

# while 반복문

In [ ]:
money = 0
month = 1
rate = 1.1
while money < 10000:
    if not (money > 1000 or month < 12):
        rate = 1.05
    else:
        rate = 1.1
    money = money * 1.1
    money = money + 100
    print(month, money)
    month = month + 1

# if .. elif .. else

In [ ]:
for i in range(1, 11):
    if i % 3 == 0:
        print('짝')
    elif i == 5:
        print('오오오오오~')
    else:
        print(i)

# 비교

In [ ]:
5 >= 4

In [ ]:
5 <= 4

In [ ]:
5 == 4

In [ ]:
5 != 4

# 실습: FizzBuzz

1에서 30까지 숫자를 순서대로 출력(print)하세요. 단, 숫자가 3의 배수면 Fizz, 5의 배수면 Buzz, 15의 배수면 FizzBuzz를 출력하세요.

출력 예시:
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
...

# 문자열

In [9]:
greet = '   안녕하세요   '

In [10]:
greet

'   안녕하세요   '

In [11]:
len(greet)

11

In [12]:
greet.strip()

'안녕하세요'

In [13]:
short = greet.strip()

In [14]:
short.endswith('요')

True

In [15]:
short.find('?')

-1

In [16]:
'{1}님과 {0}님을 환영합니다!'.format('유승운', '이산')

'이산님과 유승운님을 환영합니다!'

In [17]:
'{}님과 {}님을 환영합니다!'.format('유승운', '이산')

'유승운님과 이산님을 환영합니다!'

# Error

다음의 에러를 일으켜 보세요

NameError

In [23]:
flower

NameError: name 'flower' is not defined

 ZeroDivisionError

In [24]:
1 / 0

ZeroDivisionError: division by zero

ValueError

In [30]:
int('x')

ValueError: invalid literal for int() with base 10: 'x'

TypeError

In [27]:
1 + 'x'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

 ModuleNotFoundError

In [2]:
import tiger

ImportError: No module named 'tiger'

IndentationError

In [33]:
for i in range(1, 50):
print(10)

IndentationError: expected an indented block (<ipython-input-33-81affa788625>, line 2)

SyntaxError

In [4]:
for i in range(1, 50):
    if i % 15 == 0:
        print('으악')
    elif i % 3 == 0:
        print('짝')
    elif i % 5 == 0:
        print('아자')
    else:
        print(i

SyntaxError: unexpected EOF while parsing (<ipython-input-4-b93f598a9d7a>, line 9)

# try ... catch

In [3]:
def f(x):
    return 3 / x

In [4]:
f(2)

1.5

In [5]:
def g(x):
    return f(x - 1)

In [6]:
g(1)

ZeroDivisionError: division by zero

In [7]:
try:
    g(1)
except ZeroDivisionError:
    pass

# break

In [ ]:
for i in range(1,10):
    print(i)
    if i % 3 == 0:
        break

# continue

In [ ]:
# 3은 빼고 돌려주세요
for i in range(1,10):
    if i % 3 == 0:
        continue  # 꼐속~
    print(i)

# 문자 <-> 정수 변환

In [ ]:
int('3') + 1

In [ ]:
str(1)

In [ ]:
'{}월'.format(1)

# type

In [20]:
x = 1

In [ ]:
type(x)

# isinstance

In [ ]:
if isinstance(x, int):
    print(x + 1)
elif isinstance(x, str):
    print(int(x) + 1)
else:
    pass

# 변수 목록

In [ ]:
%who int str

In [ ]:
x

# 변수 삭제

In [ ]:
del x

# 실습: 팩토리얼

임의의 자연수 n에 대해서 n의 팩토리얼은 1부터 n까지 모든 자연수의 곱을 뜻합니다. 예를 들어 3의 팩토리얼은 1 2 3 = 6입니다. 팩토리얼을 계산하는 함수 factorial을 만들어보세요.

factorial(3) == 1 * 2 * 3