# Pandas

In [1]:
import pandas as pd

In [2]:
s = pd.Series([1,2,3,4,5])

In [3]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
s[0]

1

In [5]:
s[2:5]

2    3
3    4
4    5
dtype: int64

In [6]:
s % 2 ==0

0    False
1     True
2    False
3     True
4    False
dtype: bool

##  조건에 맞는 값만 가져오기

In [7]:
s[s%2 == 0]

1    2
3    4
dtype: int64

## 날짜 다루기

In [8]:
d = pd.date_range('20170829', periods=5)

In [9]:
d

DatetimeIndex(['2017-08-29', '2017-08-30', '2017-08-31', '2017-09-01',
               '2017-09-02'],
              dtype='datetime64[ns]', freq='D')

In [10]:
pd.date_range('20170829', periods =5, freq='2MS')

DatetimeIndex(['2017-09-01', '2017-11-01', '2018-01-01', '2018-03-01',
               '2018-05-01'],
              dtype='datetime64[ns]', freq='2MS')

In [11]:
pd.date_range('20170829', periods =5, freq='2MS') + pd.DateOffset(days=10)

DatetimeIndex(['2017-09-11', '2017-11-11', '2018-01-11', '2018-03-11',
               '2018-05-11'],
              dtype='datetime64[ns]', freq=None)

## DataFrame

In [12]:
df = pd.DataFrame({'date': d, 'num': s})

In [13]:
df

        date  num
0 2017-08-29    1
1 2017-08-30    2
2 2017-08-31    3
3 2017-09-01    4
4 2017-09-02    5

In [14]:
df.head(3)

        date  num
0 2017-08-29    1
1 2017-08-30    2
2 2017-08-31    3

In [15]:
df.tail(3)

        date  num
2 2017-08-31    3
3 2017-09-01    4
4 2017-09-02    5

In [16]:
df.columns

Index(['date', 'num'], dtype='object')

In [17]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [18]:
df.values

array([[Timestamp('2017-08-29 00:00:00'), 1],
       [Timestamp('2017-08-30 00:00:00'), 2],
       [Timestamp('2017-08-31 00:00:00'), 3],
       [Timestamp('2017-09-01 00:00:00'), 4],
       [Timestamp('2017-09-02 00:00:00'), 5]], dtype=object)

In [19]:
df.dtypes

date    datetime64[ns]
num              int64
dtype: object

## DataFrame 만드는 방법

In [23]:
d1 = pd.DataFrame([
     {'A':1, 'B':2},
     {'A':3, 'B':4}
    ]
)

In [24]:
d1

   A  B
0  1  2
1  3  4

## 열이름, 행이름 바꾸기

In [25]:
df.columns = ['날짜', '번호']

In [26]:
df

          날짜  번호
0 2017-08-29   1
1 2017-08-30   2
2 2017-08-31   3
3 2017-09-01   4
4 2017-09-02   5

In [27]:
df.set_index('날짜')

            번호
날짜
2017-08-29   1
2017-08-30   2
2017-08-31   3
2017-09-01   4
2017-09-02   5

In [30]:
df.sort_values(by='날짜', ascending = False)

          날짜  번호
4 2017-09-02   5
3 2017-09-01   4
2 2017-08-31   3
1 2017-08-30   2
0 2017-08-29   1

In [31]:
df['날짜']

0   2017-08-29
1   2017-08-30
2   2017-08-31
3   2017-09-01
4   2017-09-02
Name: 날짜, dtype: datetime64[ns]

In [32]:
df[['번호', '날짜']]

   번호         날짜
0   1 2017-08-29
1   2 2017-08-30
2   3 2017-08-31
3   4 2017-09-01
4   5 2017-09-02

## 행 선택

In [4]:
def siri(self):
	print ('————————————————')
	print ("Hi I'm Siri")
	print ("What are you doing?")
	print ("a: Time")
	print ("b: Weather")
	print ("c: noting")
	print ("d: exit.")
	print ('————————————————')
	x = input()
	if x == 'a':
		print ('2017-10-21 15:00:00')
		return siri(0)
	elif x == 'b':
		print ('Today is a clear day.')
		return siri(0)
	elif x == 'c':
		joke(0)
		
	elif x == 'd':
		print ('Bye Bye.')
		exit(1)

	else:
		print ('You must take a chose.')
		return siri(0)

def joke(self):
	a = input('Tell you a joke?')
	if a == 'yes':
		print ("What's the difference between an iceberg and a clothes brush?")
		print ("One crushes boats and the other brushes coats!")
		return siri(0)
	elif a == 'no':
		return siri(0)
	else:
		print ('You must take a chose.')
		return siri(0)

siri(0)

————————————————
Hi I'm Siri
What are you doing?
a: Time
b: Weather
c: noting
d: exit.
————————————————
C
You must take a chose.
————————————————
Hi I'm Siri
What are you doing?
a: Time
b: Weather
c: noting
d: exit.
————————————————
c
Tell you a joke??
You must take a chose.
————————————————
Hi I'm Siri
What are you doing?
a: Time
b: Weather
c: noting
d: exit.
————————————————
d
Bye Bye.

In [2]:
def GiJun(self):
    print ('————————————————')
    print ("안녕")
    print ("뭐해?")
    print ("a: 시간")
    print ("b: 날씨")
    print ("c: 아무 것도 안해")
    print ("d: 나가기")
    print ('————————————————')
    x = input()
    if x == 'a':
        print ('1992-01-15 15:00:00')
        return GiJun(0)
    elif x == 'b':
        print ('비오니깐 우산 가져가')
        return GiJun(0)
    elif x == 'c':
        joke(0)
    
    elif x == 'd':
        print ('또 보자.')
        exit(1)
    
    else:
        print ('?')
        return GiJun(0)

def joke(self):
    a = input('!')
    if a == 'yes':
        print ("^.^")
        print (">.<")
        return GiJun(0)
    elif a == 'no':
        return GiJun(0)
    else:
        print ('?')
        return GiJun(0)

GiJun(0)

————————————————
안녕
뭐해?
a: 시간
b: 날씨
c: 아무 것도 안해
d: 나가기
————————————————
c
!?
?
————————————————
안녕
뭐해?
a: 시간
b: 날씨
c: 아무 것도 안해
d: 나가기
————————————————
d
또 보자.